.vscode/
.venv/
.pytest_cache/
.DS_Store
**/.DS_Store
dist/
tests/example_creator.py
guides/Module/ModuleDevelopperGuide.aux
guides/Module/ModuleDevelopperGuide.fdb_latexmk
guides/Module/ModuleDevelopperGuide.fls
guides/Module/ModuleDevelopperGuide.log
guides/Module/ModuleDevelopperGuide.out
guides/Module/ModuleDevelopperGuide.synctex.gz
guides/Module/ModuleDevelopperGuide.toc
guides/Setup/SetUpDevelopperGuide.aux
guides/Setup/SetUpDevelopperGuide.fdb_latexmk
guides/Setup/SetUpDevelopperGuide.fls
guides/Setup/SetUpDevelopperGuide.out
guides/Setup/SetUpDevelopperGuide.log
guides/Setup/SetUpDevelopperGuide.synctex.gz
guides/Setup/SetUpDevelopperGuide.toc