.vscode/
.venv/
.pytest_cache/
.DS_Store
**/.DS_Store
dist/
tests/example_creator.py
__pycache__/
guides/Module/ModuleDevelopperGuide.aux
guides/Module/ModuleDevelopperGuide.fdb_latexmk
guides/Module/ModuleDevelopperGuide.fls
guides/Module/ModuleDevelopperGuide.log
guides/Module/ModuleDevelopperGuide.out
guides/Module/ModuleDevelopperGuide.synctex.gz
guides/Module/ModuleDevelopperGuide.toc
guides/Setup/SetUpDevelopperGuide.aux
guides/Setup/SetUpDevelopperGuide.fls
guides/Setup/SetUpDevelopperGuide.fdb_latexmk
guides/Setup/SetUpDevelopperGuide.out
guides/Setup/SetUpDevelopperGuide.log
guides/Setup/SetUpDevelopperGuide.synctex.gz
guides/DeveloperGuide/ModuleDevelopperGuide.synctex.gz
guides/DeveloperGuide/ModuleDevelopperGuide.aux
guides/DeveloperGuide/ModuleDevelopperGuide.fdb_latexmk
guides/DeveloperGuide/ModuleDevelopperGuide.fls
guides/DeveloperGuide/ModuleDevelopperGuide.log
guides/DeveloperGuide/ModuleDevelopperGuide.out
guides/Pipeline/Pipeline.aux
guides/Pipeline/Pipeline.fdb_latexmk
guides/Pipeline/Pipeline.fls
guides/Pipeline/Pipeline.log
guides/Pipeline/Pipeline.synctex.gz
guides/Project/Project.aux
guides/Project/Project.fdb_latexmk
guides/Project/Project.fls
guides/Project/Project.log
guides/Project/Project.synctex.gz
guides/SpecSheet/SpecSheet.synctex.gz 
guides/SpecSheet/SpecSheet.log 
guides/SpecSheet/SpecSheet.fls 
guides/SpecSheet/SpecSheet.fdb_latexmk 
guides/SpecSheet/SpecSheet.aux
guides/Tutorial/Tutorial.toc
guides/Tutorial/Tutorial.synctex.gz
guides/Tutorial/Tutorial.out
guides/Tutorial/Tutorial.log
guides/Tutorial/Tutorial.fls
guides/Tutorial/Tutorial.fdb_latexmk
guides/Tutorial/Tutorial.aux
HDF5_BLS.code-workspace
local_use
graphical_algorithm.pdf
TODO.md