# Library dependencies
h5py>=3.12
numpy>=2.0
Pillow>=10.0.1
scipy>=1.10
sif_parser>=0.3
datetime>=5
setuptools
wheel
pyperclip
pandas>=2.0.3

# Development dependencies
pytest

# Documentation dependencies
sphinx
sphinx-rtd-theme

# GUI dependencies
PySide6
configparser
matplotlib


